.navbar-privacy {
    color: rgb(106, 197, 243);
    background-color: white;
}

.body {
    font-family: '"Helvetica Neue", Helvetica, Arial, sans-serif';
}

.h2 {
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}