navbar {
    color: rgb(106, 197, 243);
}

body {
    font-family: '"Helvetica Neue", Helvetica, Arial, sans-serif';
}

.h2 {
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}